#
# The MySQL database server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
port        = {{ mysql_port }}
socket      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
# * Basic Settings
user                      = mysql
default-storage-engine    = {{ mysql_default_storage_engine }}
pid-file                  = /var/run/mysqld/mysqld.pid
socket                    = /var/run/mysqld/mysqld.sock
port                      = {{ mysql_port }}
basedir                   = /usr
datadir                   = {{ mysql_data_dir }}
tmpdir                    = /tmp
lc-messages-dir           = {{ mysql_lc_messages_dir }}
bind-address              = {{ mysql_bind_address }}
skip-external-locking
character_set_server      = {{ mysql_character_set_server }}
collation_server          = {{ mysql_collation_server }}

# MyISAM
key_buffer              = {{ mysql_key_buffer }}
myisam-recover          = {{ mysql_myisam_recover }}

# Safety
max_allowed_packet      = {{ mysql_max_allowed_packet }}
max-connect-errors      = {{ max_connect_errors }}

# Binary Logging
log_bin            = {{ mysql_log_bin }}
expire_logs_days   = {{ mysql_expire_logs_days }}
max_binlog_size    = {{ mysql_max_binlog_size }}
sync-binlog        = {{ mysql_sync_binlog }}
binlog_format      = {{ mysql_binlog_format }}

# CACHES AND LIMITS #
tmp-table-size          = {{ mysql_tmp_table_size }}
max-heap-table-size     = {{ mysql_max_heap_table_size }}
query-cache-type        = {{ mysql_query_cache_type }}
query_cache_limit       = {{ mysql_query_cache_limit }}
query_cache_size        = {{ mysql_query_cache_size }}
max_connections         = {{ mysql_max_connections }}
thread_stack            = {{ mysql_thread_stack }}
thread_cache_size       = {{ mysql_cache_size }}
open-files-limit        = {{ mysql_open_files_limit }}
table-definition-cache  = 1024
table_open_cache        = {{ mysql_table_open_cache }}
thread_concurrency      = {{ mysql_thread_concurrency }}

# INNODB #
{% if mysql_innodb_flush_method != 'fdatasync': %}
innodb_flush_method = {{ mysql_innodb_flush_method }}
{% endif %}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
{{ mysql_innodb_file_per_table }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout }}
innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size }}

# LOGGING #
log-error                      = {{ mysql_log_error }}
log-queries-not-using-indexes  = {{ mysql_log_queries_not_using_indexes }}
slow-query-log                 = {{ mysql_slow_query_log }}
slow-query-log-file            = {{ mysql_slow_query_log_file }}


# ** Full-Text Search
ft_min_word_len = {{ mysql_ft_min_word_len }}

[mysqldump]
quick
quote-names
max_allowed_packet  = {{ mysql_mysqldump_max_allowed_packet }}

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer      = {{ mysql_isamchk_key_buffer }}

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
